/* work sans font import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;800&family=Poppins:wght@500&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
}




nav{
    display: flex;
}