/* work sans font import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;800&family=Poppins:wght@500&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
}

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: #131313;
    font-weight: 700;
    font-size: 2.8rem;
}
 nav>ul{
    display: flex;
}
nav li{
    margin-right: 20px;
    font-weight: 500;
    font-size: 1rem;
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
/* Banner section */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color:#131313;
font-size: 4rem;
font-weight: 700;
}
.banner-description{
    color: #727272;
}
.banner-btn{
    border-radius: 8px;
background: #FF900E;
border: none;
color: #FFF;
padding: 20px;
text-align: center;
font-size: 20px;
font-weight: 500;
margin-top: 20px;
margin-bottom: 40px;
}
.banner-img{
    width: 100%;
}
/* main section styles */
main{
    max-width: 1440px;
    
}

/* Quick section styles */
.quick-container{
    display: flex;
    align-items: center;
    padding: 50px 100px;
    gap: 40px;
}
.quick-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}
.q-img{
    width: 300px;
    height: 300px;
}
.quick-title{
    font-size: 40px;
    font-weight: 700;
    color: #131313;
}
.gray-clr{
    color: #727272;
}
.orng-clr{
    color: #FF900E;
}
.quick-description{
    color: #727272;
    font-size: 15px;
    font-weight: 400;
}
/* facts section added */
.fact-section{
    padding: 100px;
}
.fact-card-container{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.card{
    border-radius: 8px;
border: 1px solid #FF900E;
text-align: center;
padding: 20px ;
width: 150px;
height: 180px;
gap: 50px;
}
.card-state{
    font-size: 30px;
    font-weight: 700;
    color: #424242;
}

.card-title{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}
/* responsive media query */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav,
    .quick-container,
    .fact-card-container
    {
        flex-direction: column;
    }
    .fact-card-container{
        gap: 15px;
    }
    .quick-images{
        grid-template-columns: 1fr;
    }
    .quick-content{
        padding: 10px;
        text-align: center;
    }
}
@media  screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav,
    .quick-container,
    .fact-card-container
    {
        flex-direction: column;
    }
    .fact-card-container{
        margin-left: 130px;
        gap: 15px;
    }
    .fact-section{
        text-align: center;
    }
    .quick-content{
        text-align: center;
    }
    
}